body{
    text-align:center;

    background-color: lightcyan;
}

#student-information
{
    margin:100px 200px 100px 150px;

    border:3px solid black;

    border-radius : 20px;

    background-color: white;
}
/* FIRST-BLOCK */

.first-block
{
    margin-top:220px;
    
 
    text-align:left;

    margin-left:150px;

    padding-left:20px;

    border-left:5px solid greenyellow;

    color:green;

    font-family: 'Merriweather', serif;
 
    
}

   
/* SECOND-BLOCK */

.second-block
{
    margin-top:0px;
    margin-right:120px;
    margin-left:20px;

    margin-bottom:30px;

    font-family: 'Source Serif Pro', serif;

}

input
{
    width:250px;
    
    text-align: center;

    margin-left:10px;
    margin-bottom:10px;
    font-family: 'Pacifico', cursive;
  
}

.info
{
    text-align:left;
}


/* END-PART OF THE PAGE */

.end-part
{
    font-size:20px;
    background-color: grey;
    color:white;
    margin-bottom:0px;

    font-family: 'Domine', serif;
    
}


.afterresult
{ 
    padding-left:10px;
    border:1px solid black;
    border-radius :20px;
}

 /* media query breakpoint */

    @media only screen and (max-width : 1300px)
    {    
        
        #student-information
        {
            margin:0px;
    
            margin:50px;
        
            border:3px solid black;
            border-radius : 20px;
        }     
            
        .first-block
        {
            margin-top:10px;
            margin-bottom:20px;
            
            
            
            text-align:left;
            
            margin-right:70px;
            margin-left:250px;
            
        
 
        
            border-left:5px solid greenyellow;
        
            color:green;           
            
        }
        
        .second-block h1
        {
            margin-top:50px;
            margin-bottom:50px;
        }
        
        .second-block input
        {
            margin:23px;
            
            border:2px solid black;
        }
        .second-block
        {
            text-align:center;
        }
        
        

    }
  


